/*help*/

.row{ clear: both;}
section{ float: none;}
header .top ul li:nth-child(5) a img, header .top ul li:nth-child(6) a img {
    margin: 0.125rem 0.625rem 0 0;
    float: left;
}
header{
    position: relative;
    z-index: 1;
}
header .mobile-header{
    position: relative;
}
.btn-primary{
    color: #fff;
    background-color: #5765ce;
    border-color: #5765ce;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary:visited,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, 
.open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover{
    color: #fff;
    background-color: #3f51b5 ;
    border-color: #3f51b5 ;
}

/*Tnew7 general*/
section:not(.col2):last-of-type {
    padding-bottom: 1.75rem;
}
@media screen and (min-width: 40.0625em){
    h2 {
        font-size: 1.25rem;
    }
}
#tnew7-main-wrapper a{
    color:#5765ce;
}
#tnew7-main-wrapper .tn-account-logout-page a.tn-btn-link{
    color:#fff;
}
#tnew7-main-wrapper .tn-prod-list-item--package .tn-package-list-item__details-link-wrapper a{
    color:#fff !important;
    text-decoration: none;
}


/**/
#tnew7-main-wrapper {
    background: #fff;
    padding: 30px 50px !important;
    position: relative;
    margin:60px 0px 45px;
}
#tnew7-main-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
 }
 .tnew7-main-wrapper-in:before, .tnew7-main-wrapper-in:after {
    content: '';
    background: #5765ce;
    height: 23.4375rem;
    width: 23.4375rem;
    z-index: -1;
    position: absolute;
    float: left;
}
.tnew7-main-wrapper-in:before {
    top: -0.9375rem;
    right: -0.9375rem;
}
.tnew7-main-wrapper-in:after {
    bottom: -0.9375rem;
    left: -0.9375rem;
}
@media (max-width: 480px){
    section.tnew .mx-auto{
        padding: 0;
    }
    .tnew7-main-wrapper-in:before, .tnew7-main-wrapper-in:after {
        content: '';
        background: #5765ce;
        height: 12rem;
        width: 12rem;
        z-index: -1;
        position: absolute;
        float: left;
    }
    .tnew7-main-wrapper-in:before {
        top: -0.6375rem;
        right: -0.6375rem;
    }
    .tnew7-main-wrapper-in:after {
        bottom: -0.6375rem;
        left: -0.6375rem;
    }
    #tnew7-main-wrapper{
        padding: 30px 20px !important;
    }
}
/*Events*/
.tn-subnav-component{
    background: none;
}
.tn-subnav-component a{
    color:#5765ce !important;
}
section.tn-header-component h1{
 margin-bottom: 0;
 font-size: 1.75rem;
}
.tn-subnav-component .tn-promo-box input{
    border: 1px solid #b0b0b0 !important;
    box-shadow: 0 0 0 !important;
    background-color: #fff;
    font-size: 1rem !important;
    height: 40px !important;
    float: left !important;
    margin-bottom: 0 !important;
    width: 180px !important;
    outline: none !important;
    padding:3px;
}
.tn-subnav-promo-button{
    vertical-align: middle !important;
    line-height: 1 !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    -moz-transition: all 0.5s ease !important;
    -webkit-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
    font-weight: 500 !important;
    padding: 0.5rem !important;
    font-family: 'AvenirNextLTW01-Medium' !important;
    text-align: center !important;
    outline: 0 !important;
    background-color: transparent !important;
    text-transform: uppercase !important;
    font-size: 1rem !important;
    margin-top: 0 !important;
    color: #fff !important;
    border: 1px solid #5765ce !important;
    float: left !important;
    border-left: none !important;
    color: #fff !important;
    background: #5765ce !important;
    height: 40px !important;
    padding-top: 12px !important;
    text-decoration:none !important;
}
.tn-subnav-component .tn-promo-box input::placeholder,.tn-subnav-component .tn-promo-box input:-ms-input-placeholder,.tn-subnav-component .tn-promo-box input::-ms-input-placeholder {
    color: #000 !important;
    opacity: 1; /* Firefox */
    font-family: "AvenirNextLTW01-Regular" !important;
    padding-left: 0.5rem;
  }
  
  @media (max-width: 480px){
    .tn-subnav-component .tn-promo-box input{
        width: 100px !important;
    }
    .tn-subnav-promo-button{
        font-size: 12px !important;
    }
    .tn-subnav-component .tn-promo-box input::placeholder,.tn-subnav-component .tn-promo-box input::-ms-input-placeholder,.tn-subnav-component .tn-promo-box input:-ms-input-placeholder {
        font-size: 12px !important;
    }
  }


 /**Event Listing**/
 #tnew7-main-wrapper .tn-event-listing-view__results-heading{
     color:#000;
 }
 .tn-prod-list-item {
    padding: 15px;
    background: none !important;
    border-top: 6px solid #ebebeb !important;
    border-right: 6px solid #ebebeb !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}
.tn-event-listing-mode-tab-nav__list-item{
    color:#5765ce !important;
}
.tn-prod-list-item a{
    color:#5765ce !important;
    text-decoration: underline;
}
/*Login page*/
.tnew7-main-wrapper-in  .tn-account-login-page {
    padding-bottom: 3.75rem;
}
.tnew7-main-wrapper-in section.tn-login-component,.tnew7-main-wrapper-in .tn-account-login-page .tn-header-component{
    padding-bottom: 0;
}
/*Cart*/
.tn-cart-component{
    margin: 0;
}
#tnew7-main-wrapper a.btn-info{
    color: #fff;
}
.tn-cart-details-page .tn-cart-buttons{
    display: block;
}
.tn-cart-buttons__secondary-action{
    font-family: "AvenirNextLTW01-Medium" !important;
    color: #fff !important;
    border-radius: 80px !important;
    text-transform: uppercase !important;
    font-size: 0.9rem !important;
    line-height: 0.8rem !important;
    padding: 0.875rem 0.875rem !important;
    border: none !important;
    outline: none !important;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #1bc9e4 !important;
    color: #fff;
    display: inline-block;
    width: 209px;
    margin: auto;
    text-align: center;
}
.tn-cart-buttons__primary-action{
    color: #fff !important;
    background-color: #3f51b5;
    border-color: #3f51b5;
    font-family: "AvenirNextLTW01-Medium" !important;
    border-radius: 80px !important;
    text-transform: uppercase !important;
    font-size: 0.9rem !important;
    line-height: 0.8rem !important;
    padding: 0.875rem 0.875rem !important;
    border: none !important;
    outline: none !important;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 209px;
    margin: auto;
    text-align: center;
    float: right;
}
#tn-payment-submit-button{
    display: inline-block !important;
    width:200px;
}
.tn-payment-page a{
    color:#5765ce !important;
    text-decoration: underline;
}
.tn-account-tab-navigation{
    color:#5765ce !important;
}
/*payment modal*/
.tn-payment-modal .modal-content{
    padding: 20px;
}
.tn-payment-modal .btn-primary:hover,.tn-payment-modal .btn-primary:focus,.tn-payment-modal .btn-primary.focus,.tn-payment-modal .btn-primary:active,.tn-payment-modal .btn-primary:visited,
.tn-payment-modal .btn-primary.active.focus, .tn-payment-modal .btn-primary.active:focus, .tn-payment-modal .btn-primary.active:hover, .tn-payment-modal .btn-primary:active.focus, .tn-payment-modal .btn-primary:active:focus, .btn-primary:active:hover{
    color: #fff;
    background-color: #3f51b5 ;
    border-color: #3f51b5 ;
}
/*calendar*/
#tnew7-main-wrapper .tn-event-listing-view__results-container a{
    color: #fff;
}
#tnew7-main-wrapper .tn-events-calendar__day-cell--today {
    background-color: #1ac7e2;
}

/*checkout*/
.tn-order-address-information-component .tn-patron-billing-information,.tn-order-address-information-component .tn-patron-shipping-information{
    width: 100%;
}
.tn-order-address-information-component .tn-patron-shipping-information{
    margin-top: 15px;
}
.tn-syos-cart.tn-syos-mobile-popover{
    display: block !important;
}