/*help*/
@media screen and (min-width: 40.0625em){
    h2 {
        font-size: 1.25rem;
    }

.tn-site {
    background-color: #ffffff;
}

.tn-header {
    background-color: #ffffff;
}

.tn-wrapper {
    background: #fff;
    padding: 10px 10px 10px 10px;
    position: relative;
    margin:0px 0px 0px 0px;
}

.btn-primary{
    color: #000;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary:visited,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, 
.open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover{
    color: #5765ce;
}

p {
    color: #000;
    font-family: 'Roboto', sans-serif;
}